name: Latest blog post workflow

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    name: Update README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Pull in blog posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://magazine-blog-chi.vercel.app/rss.xml"
          max_post_count: 5
          date_format: "MMM dd, yyyy"
          template: "<ol>\n{posts}\n</ol>"
          item_template: "<li><a href=\"{url}\">{title}</a><br/><sub>{date}</sub></li>"
